#drum-machine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 50px;
}
#display {
  position: absolute;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.drum-pad {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4),
    inset -10px -10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#soundName {
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
